.header {
    position: absolute;
    left: 0; 
    top: 0;
    background-color: bisque;
    width: 100%;
    z-index: 100;
}

.nav{
    height: 10%;
    background-color:burlywood;
    display:flex;
    align-items: center;
    justify-content:  space-between;
} 

.nav-logo-image { 
    width: 100px;
    /* mix-blend mode blends the image color to backgound color :) */
    mix-blend-mode: darken; 
}

.nav-list{ 
    display:flex;
    column-gap: 2rem;
}

.nav-link{
    font-size: var(--large-font-size);
    font-weight: var(--weight-500);
}
